<div class="container">
    
    <div class="row">
        <div class="formWrapper">
            <h2 class="formTitle">Add new model:</h2>
            <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)" class="form">
                <section class="modelWrapper">
                    <div class="addForm">
                        <label for="Model" class="formLabel">Model with suffix:</label>
                        <input type="text" class="formInput" name="Model" aria-describedby="modelHelp" formControlName="modelSuffix">
                        
                    </div>
                    <div class="addForm">
                        <label for="Suffix" class="formLabel">Short suffix:</label>
                        <input type="text" class="formInput" name="Suffix" formControlName="suffix">
                    </div>
                    <div class="addForm">
                        <label for="Part1" class="formLabel">Part 1:</label>
                        <input type="text" class="formInput" name="Part1" formControlName="part1">
                    </div>
                    <div class="addForm">
                        <label for="Part2" class="formLabel">Part 2:</label>
                        <input type="text" class="formInput" name="Part2" formControlName="part2">
                    </div>
                    <div class="addForm">
                        <label for="Part3" class="formLabel">Part 3:</label>
                        <input type="text" class="formInput" name="Part3" formControlName="part3">
                    </div>
                    <div class="addForm">
                        <label for="Part4" class="formLabel">Part 4:</label>
                        <input type="text" class="formInput" name="Part4"  formControlName="part4">
                    </div>
                </section>
                <section class="bomWrapper">
                    <div class="addForm">
                        <label for="CBomModelSuffix" class="formLabel">Copy BOM Model:</label>
                        <input type="text" class="formInput" name="CBomModelSuffix"  formControlName="CBomModelSuffix">
                    </div>
                    <div class="addForm">
                        <label for="BomSuffix" class="formLabel">BOM Suffix:</label>
                        <input type="text" class="formInput" name="BomSuffix" formControlName="bomSuffix">
                    </div>
                    <div class="addForm">
                        <label for="BomPart1" class="formLabel">BOM Part 1:</label>
                        <input type="text" class="formInput" name="BomPart1" formControlName="bomPart1">
                    </div>
                    <div class="addForm">
                        <label for="BomPart2" class="formLabel">BOM Part 2:</label>
                        <input type="text" class="formInput" name="BomPart2" formControlName="bomPart2">
                    </div>
                    <div class="addForm">
                        <label for="BomPart3" class="formLabel">BOM Part 3:</label>
                        <input type="text" class="formInput" name="BomPart3" formControlName="bomPart3">
                    </div>
                    <div class="addForm">
                        <label for="BomPart4" class="formLabel">BOM Part 4:</label>
                        <input type="text" class="formInput" name="BomPart4" formControlName="bomPart4">
                    </div>
                </section>
                <button type="submit" class="formBtn" (click)="openSnackBar('Model added succesfully', '')" [disabled]="!FormData.valid">Add</button>
            </form>
        </div>
        <div>
            <h2 class="formTitle">Update model:</h2>
        </div>
        <form class="searchWrapper" (ngSubmit)="searchItem()">
            <div class="btnWrapper">
                <label for="searchBar" class="formLabel search">Search model with suffix:</label>
                <button type="submit" class="formBtn searchBtn">Search</button>
            </div>
            <input type="search" class="formInput" name="searchBar" [(ngModel)]="searchTerm">
        </form>
        <form [formGroup]="FormDataUpdate" (ngSubmit)="onSubmitUpdate()"  class="form">
            <section class="modelWrapper">
                <div class="addForm">
                    <label for="ModelUpdate" class="formLabel">Model with suffix:</label>
                    <input type="text" class="formInput" name="ModelUpdate" aria-describedby="modelHelp" formControlName="modelSuffixUpdate">
                </div>
                <div class="addForm">
                    <label for="SuffixUpdate" class="formLabel">Short suffix:</label>
                    <input type="text" class="formInput" name="SuffixUpdate" formControlName="suffixUpdate">
                </div>
                <div class="addForm">
                    <label for="Part1Update" class="formLabel">Part 1:</label>
                    <input type="text" class="formInput" name="Part1Update" formControlName="part1Update">
                </div>
                <div class="addForm">
                    <label for="Part2Update" class="formLabel">Part 2:</label>
                    <input type="text" class="formInput" name="Part2Update" formControlName="part2Update">
                </div>
                <div class="addForm">
                    <label for="Part3Update" class="formLabel">Part 3:</label>
                    <input type="text" class="formInput" name="Part3Update" formControlName="part3Update">
                </div>
                <div class="addForm">
                    <label for="Part4Update" class="formLabel">Part 4:</label>
                    <input type="text" class="formInput" name="Part4Update"  formControlName="part4Update">
                </div>
            </section>
            <section class="bomWrapper">
                <div class="addForm">
                    <label for="CBomModelSuffixUpdate" class="formLabel">Copy BOM Model:</label>
                    <input type="text" class="formInput" name="CBomModelSuffixUpdate"  formControlName="CBomModelSuffixUpdate">
                </div>
                <div class="addForm">
                    <label for="BomSuffixUpdate" class="formLabel">BOM Suffix:</label>
                    <input type="text" class="formInput" name="BomSuffixUpdate" formControlName="bomSuffixUpdate">
                </div>
                <div class="addForm">
                    <label for="BomPart1Update" class="formLabel">BOM Part 1:</label>
                    <input type="text" class="formInput" name="BomPart1Update" formControlName="bomPart1Update">
                </div>
                <div class="addForm">
                    <label for="BomPart2Update" class="formLabel">BOM Part 2:</label>
                    <input type="text" class="formInput" name="BomPart2Update" formControlName="bomPart2Update">
                </div>
                <div class="addForm">
                    <label for="BomPart3Update" class="formLabel">BOM Part 3:</label>
                    <input type="text" class="formInput" name="BomPart3Update" formControlName="bomPart3Update">
                </div>
                <div class="addForm">
                    <label for="BomPart4Update" class="formLabel">BOM Part 4:</label>
                    <input type="text" class="formInput" name="BomPart4Update" formControlName="bomPart4Update">
                </div>
            </section>
            <button type="submit" (click)="openSnackBar('Model updated!', '')" class="formBtnUpdate" [disabled]="!FormDataUpdate.valid">Update</button>
        </form>
    </div>
</div>
