<div class="mainWrapper">
    <nav class="navigation">
        <img src="../assets/logo_full_color.png" alt="logo_LG_full_color" class="logoNav">
        <ul class="navList">
            <li class="navListItem">
                <a class="link"
                    routerLink=""
                    routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page"
                >
                 Home
                 </a>
            </li>
            <li class="navListItem">
                <a class="link"
                    routerLink="/model-with-all-data"
                    routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page"
                >
                 Models data
                 </a>
            </li>
            <li class="navListItem">
                <a class="link"
                    routerLink="/model-form"
                    routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page"
                >
               Add/Update new model
                </a>
            </li>
            <li class="navListItem">
                <a class="link"
                    routerLink="/polishrnd"
                    routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page"
                >
               RnD Poland
                </a>
            </li>
            <li class="navListItem">
                <a class="link"
                    routerLink="/korearnd"
                    routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page"
                >
               RnD Korea
                </a>
            </li>
            <li class="navListItem">
                <a class="link log"
                    href="3">
                    Log In
                </a>
            </li>
        </ul>
        
    </nav>
    
    
    <div [@triggerName]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
</div>

<footer class="footerWrapper">
    <section class="innerWrapper">
        <img src="../assets/logo_footer.svg" alt="logo_footer">
        <p class="footerText">LG Electronics Mława - IT Team / IT Software 2024</p>
    </section>
</footer>



