<main class="main">
  <h2 class="formTitle">Choose columns to display:</h2>

  <form [formGroup]="form" class="checkboxWrapper">
      <mat-checkbox class="checkbox"  *ngFor="let cd of columnDefinitions"  [formControlName]="cd.def">
        {{cd.label}} 
      </mat-checkbox>
  </form>

  <section class="searchSection">
    <div class="searchChild">
      <h2 class="formTitle">Find model in table:</h2>
      <mat-form-field class="searchWrapper">
        <mat-label class="searchLabel">Search model: </mat-label>
        <input class="searchInput" matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>
    </div>

  </section>
  

  <h2 class="formTitle">Models:</h2>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort class="tableMain">
      
        <ng-container matColumnDef="modelSuffix">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Model & Suffix</th>
          <td mat-cell *matCellDef="let row"> {{row.modelSuffix}}</td>
        </ng-container>
  
        <ng-container matColumnDef="suffix">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Suffix</th>
          <td mat-cell *matCellDef="let row">{{row.suffix}}</td>
        </ng-container>
  
        <ng-container matColumnDef="part1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Part 1</th>
          <td mat-cell *matCellDef="let row"> {{row.part1}} </td>
        </ng-container>

        <ng-container matColumnDef="part2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Part 2</th>
          <td mat-cell *matCellDef="let row"> {{row.part2}} </td>
        </ng-container>

        <ng-container matColumnDef="part3">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Part 3</th>
          <td mat-cell *matCellDef="let row"> {{row.part3}} </td>
        </ng-container>

        <ng-container matColumnDef="part4">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Part 4</th>
          <td mat-cell *matCellDef="let row"> {{row.part4}} </td>
        </ng-container>

        <ng-container matColumnDef="cbomModelSuffix">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>C bom Model Suffix</th>
          <td mat-cell *matCellDef="let row"> {{row.cbomModelSuffix}} </td>
        </ng-container>

        <ng-container matColumnDef="bomSuffix">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>BOM Suffix</th>
          <td mat-cell *matCellDef="let row"> {{row.bomSuffix}} </td>
        </ng-container>

        <ng-container matColumnDef="bomPart1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>BOM Part 1</th>
          <td mat-cell *matCellDef="let row"> {{row.bomPart1}} </td>
        </ng-container>

        <ng-container matColumnDef="bomPart2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>BOM Part 2</th>
          <td mat-cell *matCellDef="let row"> {{row.bomPart2}} </td>
        </ng-container>

        <ng-container matColumnDef="bomPart3">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>BOM Part 3:</th>
          <td mat-cell *matCellDef="let row"> {{row.bomPart3}} </td>
        </ng-container>

        <ng-container matColumnDef="bomPart4">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>BOM Part 4:</th>
          <td mat-cell *matCellDef="let row"> {{row.bomPart4}} </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
          <td mat-cell *matCellDef="let row"> {{row.total}} </td>
        </ng-container>

        <ng-container matColumnDef="bom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>BOM</th>
          <td mat-cell *matCellDef="let row">{{row.bom}}</td>
        </ng-container>

        <ng-container matColumnDef="suffixCompare">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Suffix Compare</th>
          <td mat-cell *matCellDef="let row">
            <p *ngIf="row.suffix==row.bomSuffix">True</p>
            <p *ngIf="row.suffix!=row.bomSuffix">False</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="partNoCompare">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Part Compare</th>
          <td mat-cell *matCellDef="let row">
            <p *ngIf="row.part1==row.bombomPart1">True</p>
            <p *ngIf="row.part1!=row.bombomPart1">False</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="rnd">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Send to RnD:</th>
          <td mat-cell *matCellDef="let row">
            <div class="flagWrapper">
              <button class="flagButton" (click)="sendToPolishRnD(row)"><img src="../../../assets/poland.svg" alt=""></button>
              <button class="flagButton" (click)="showClick()"><img src="../../../assets/korea.svg" alt=""></button>
            </div>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of models"></mat-paginator>
    </div>
</main>